@font-face {
  font-family: yozakura;
  src: url(fonts/YozakuraJP-Regular.otf);
}

body {
  background-attachment: fixed;
  /* background-image: linear-gradient(#ffeab5, #bf887c); */
  background-image: url(img/Island_Thingy.png);
  background-size: auto 200%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

h1 {
  font-family: yozakura;
  text-align: center;
  user-select: none;
}

.main-colors {
  color: goldenrod;
  background-color: rgba(136, 45, 23);
  border: 2px solid darkgoldenrod;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#page-div {
  position: relative;
  width: auto;
  margin: auto;
  padding-top: 20px;
  max-width: 1200px;
  min-width: 800px;
  margin-bottom: 20px;
}

#main-div-ext {
  position: relative;
  display: inline-block;
  padding: 8px;
  width: calc(88% - 20px);
  border-radius: 156px 156px 0 0;
}

#main-div {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 690px;
  border: 2px solid darkgoldenrod;
  border-radius: 150px 150px 0 0;
}

#sidebar-tabs {
  position: absolute;
  top: 180px;
  width: calc(12% - 2px);
  display: inline-block;
}
.sidebar-tab {
  user-select: none;
  border-left: none;
  border-radius: 0 20px 20px 0;
  margin-bottom: -2px;
  font-size: 10px;
  font-family: yozakura;
  width: auto;
  max-width: 100%;
  position: relative;
}
#sidebar-div {
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#sidebar-div:hover {
  background-color: rgba(136, 45, 23);
}
#sidebar-div a {
  font-weight: bold;
  color: goldenrod;
}
#sidebar-div a:hover  {
  color: darkgoldenrod;
}
.sidebar-subtab {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  display: inline-block;
  transition: padding-left .25s;
  height: calc(100% - 4px);
  width: calc(20% - 2px);
  border-left: none;
  border-radius: 0 20px 20px 0;
  position: absolute;
}
.sidebar-tab:hover .sidebar-subtab:hover { background-color: rgba(136, 25, 23); }
.sidebar-tab:hover .sidebar-subtab:active { background-color: rgba(136, 60, 23); }
.sidebar-subtab:nth-child(1) { z-index: 3; }
.sidebar-subtab:nth-child(2) { padding-left: 20%; z-index: 2; }
.sidebar-subtab:nth-child(3) { padding-left: 40%; z-index: 1; }
.sidebar-subtab:nth-child(4) { padding-left: 60%; z-index: 0; }
.sidebar-subtab:nth-child(1):hover { padding-left: 20%; }
.sidebar-subtab:nth-child(2):hover,
.sidebar-subtab:hover ~ .sidebar-subtab:nth-child(2) { padding-left: 40%; }
.sidebar-subtab:nth-child(3):hover,
.sidebar-subtab:hover ~ .sidebar-subtab:nth-child(3) { padding-left: 60%; }
.sidebar-subtab:nth-child(4):hover,
.sidebar-subtab:hover ~ .sidebar-subtab:nth-child(4) { padding-left: 80%; }

.sidebar-tab.hoverable {
  transition: width .25s;
  width: 26px;
}
.sidebar-tab.hoverable:hover {
  background-color: rgba(136, 26, 23);
  width: 40px;
}